In [23]:
import pandas as pd

In [27]:
df = pd.DataFrame({"A": [9, 4, 2, 1, 2,3,5], "B": [12, 7, 5, 4, 2,3,5]})
df

   A   B
0  9  12
1  4   7
2  2   5
3  1   4
4  2   2
5  3   3
6  5   5

In [41]:
def join_columns(row):
    print(row)

SyntaxError: invalid syntax (<ipython-input-41-acad94680c9e>, line 1)